// Primary Colors
$white: #fff;
$charcoal: #000000;
$green: #51ddd1;
$orange: #ff4e02;
$blue: #085feb;
$yellow: #ffe100;
$red: #ff0000;
$gray: #faf9f9;
$light-grey: #fbf9f9;

// Neutral Colors

$dark-grey: #333;
